//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
html{
  @include base;
  background-color: $background-color-3;
}

.primary{ @include primary }
.secondary{ @include secondary }
.fw {width: 100%}

body{
  @include flex(flex-start, flex-start, column);
  @include size(100%, 100%);
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
header, .central{@include flex(center, center, row);}
header{
  @include size(60px, 100%);
  background-color: $background-color-1;
  color: white;
  font-weight: 600;
  position: fixed;
  top:0;
  left: 0;
  @include transition(all);
  svg{
    @include size(16px, auto);
    fill:$dark-grey-3;
    margin-right: 10px;
  }
}

.scroll{
  transform: translateY(-60px);
}

.card-container{
  @include size(auto, auto);
  background: white;

  @include flex(flex-start, center, column);
  border-radius: 4px;
  padding: 30px;
  @include transition(all);
  p{
    min-height: 60px;
  }
  &:hover{@include shadow();}
}

container{
  @include grid(auto, 980px, 10px);
  margin: auto;
  padding: 20px;
  margin-top: 60px;
}

.section-group{
  margin-bottom: 40px;
}

.card-header{
  @include flex(center, center, column);
  h1{margin: 10px 0;}
}

.card-title{
  text-overflow: ellipsis;
}

.section{
  @include grid(260px, 1fr, 20px);
  @include transition(all);
  margin: auto;
}

[data-type='alt']{
  color: $font-color-2;
}
