//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
@import 'base';

html{
  background-color: $background-color-3;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.primary{ @include primary }
.secondary{ @include secondary }
.fw {width: 100%}

body{
  @include flex(flex-start, flex-start, column);
  @include size(100%, 100%);
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;

}
header, .central{@include flex(center, center, row);}
header{
  @include size(60px, 100%);
  background-color: $background-color-1;
  color: white;
  font-weight: 600;
  position: fixed;
  top:0;
  left: 0;
  @include transition(all);
  transition-duration: 450ms!important;
  svg{
    @include size(16px, auto);
    fill:$dark-grey-3;
    margin-right: 10px;
  }
}

.scroll{
  transform: translateY(-60px);
}

.promotion{
  @include size(320px, 100%);
  padding: 30px;
  @include flex( center, space-between, row);
  background: url('../img/general.svg');
  background-size: auto 320px;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: white;

  position: relative;
  img{
    width: 90%;
    max-width: 500px;
    position: relative;
    z-index: 1;
  }

  &::after{
    content: '';
    background-color: #FBBD13;
    height: 600px;
    border-radius: 100pc;
    transform: translate(-50%, -40%);
    width: 600px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
  }
  overflow: hidden;
}

.card-container{
  @include size(auto, auto);
  background: white;

  @include flex(flex-start, center, column);
  border-radius: 4px;
  padding: 30px;
  @include transition(all);
  p{
    min-height: 60px;
  }
  &:hover{@include shadow();}
}

container{
  @include grid(auto, 1020px, 0px);
  margin: auto;
  padding: 20px;
  margin-top: 60px;

}

.section-group{
  margin-bottom: 40px;
}

.card-header{
  @include flex(flex-start, space-between, row);
  h1{margin: 10px 0;}
}

.card-title{
  text-overflow: ellipsis;
}

.section{
  @include grid(260px, 1fr, 20px);
  @include transition(all);
}

[data-type='alt']{
  color: $font-color-2;
}
